In [1]:
import pandas as pd

In [2]:
#load all tables
df_details = pd.read_csv('data_dictionary.csv')
df_pizza = pd.read_csv('pizzas.csv')
df_orders = pd.read_csv('orders.csv')
df_pizza_types = pd.read_csv('pizza_types.csv',encoding='WINDOWS-1250')
df_order_details = pd.read_csv('order_details.csv')

In [3]:
#Joining the tables using merge based on details df
df_details
df_order_merged = pd.merge(df_orders,df_order_details,on='order_id')
df_pizza_merged = pd.merge(df_pizza,df_pizza_types,on='pizza_type_id')
df_full = pd.merge(df_order_merged,df_pizza_merged,on='pizza_id')
df_full.head()

,order_id,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,1,2015-01-01,11:38:36,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,77,2015-01-02,12:22:46,179,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
2,146,2015-01-03,14:22:10,357,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
3,163,2015-01-03,16:54:54,389,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
4,247,2015-01-04,20:55:29,568,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"

In [4]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          48620 non-null  int64
 1   date              48620 non-null  object
 2   time              48620 non-null  object
 3   order_details_id  48620 non-null  int64
 4   pizza_id          48620 non-null  object
 5   quantity          48620 non-null  int64
 6   pizza_type_id     48620 non-null  object
 7   size              48620 non-null  object
 8   price             48620 non-null  float64
 9   name              48620 non-null  object
 10  category          48620 non-null  object
 11  ingredients       48620 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.8+ MB

In [5]:
#orderID is related to one person we will set it as index
df_full.set_index('order_id',inplace=True)

In [6]:
df_full.sort_index(inplace=True)

In [7]:
df_full

,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients
order_id,,,,,,,,,,,
1,2015-01-01,11:38:36,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
2,2015-01-01,11:57:40,6,thai_ckn_l,1,thai_ckn,L,20.75,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
2,2015-01-01,11:57:40,5,mexicana_m,1,mexicana,M,16.00,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
2,2015-01-01,11:57:40,4,ital_supr_l,1,ital_supr,L,20.75,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
2,2015-01-01,11:57:40,3,five_cheese_l,1,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
...,...,...,...,...,...,...,...,...,...,...,...
21348,2015-12-31,21:23:10,48618,napolitana_s,1,napolitana,S,12.00,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
21348,2015-12-31,21:23:10,48617,four_cheese_l,1,four_cheese,L,17.95,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
21348,2015-12-31,21:23:10,48616,ckn_alfredo_m,1,ckn_alfredo,M,16.75,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
21349,2015-12-31,22:09:54,48619,mexicana_l,1,mexicana,L,20.25,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
21350,2015-12-31,23:02:05,48620,bbq_ckn_s,1,bbq_ckn,S,12.75,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."

In [8]:
#Create new column total cost based on quantity
df_full['total_cost'] = df_full.apply(lambda x:x['quantity']*x['price'],axis=1)#axis 1 make sure to adds up the row based series
df_full['total_cost']

order_id
1        13.25
2        20.75
2        16.00
2        20.75
2        18.50
         ...
21348    12.00
21348    17.95
21348    16.75
21349    20.25
21350    12.75
Name: total_cost, Length: 48620, dtype: float64

In [9]:
#groupby ordered id of bill
df_full.groupby('order_id')['total_cost'].sum().sort_values(ascending=False)#It results in order Id which has yielded more based on price

order_id
18845    444.20
10760    417.15
1096     285.15
6169     284.00
740      280.95
          ...
2822       9.75
17702      9.75
17420      9.75
13404      9.75
10950      9.75
Name: total_cost, Length: 21350, dtype: float64

In [10]:
#List of ingredients available
ls = []
for i in df_full['ingredients']:
    ls.extend(str(i).split(','))
list(set(ls))

[' Artichoke',
 'Ricotta Cheese',
 'Sliced Ham',
 'Tomatoes',
 ' Barbecue Sauce',
 ' Provolone Cheese',
 ' Bacon',
 ' Anchovies',
 'Kalamata Olives',
 ' Pepperoni',
 ' Romano Cheese',
 ' Peperoncini verdi',
 ' Blue Cheese',
 ' Zucchini',
 ' Feta Cheese',
 ' Caramelized Onions',
 ' Mozzarella Cheese',
 ' Goat Cheese',
 ' Oregano',
 'Spinach',
 'Mushrooms',
 ' Pesto Sauce',
 '‘Nduja Salami',
 'Eggplant',
 ' Thyme',
 ' Green Peppers',
 'Mozzarella Cheese',
 ' Chorizo Sausage',
 'Calabrese Salami',
 ' Artichokes',
 'Coarse Sicilian Salami',
 'Genoa Salami',
 ' Alfredo Sauce',
 ' Garlic',
 ' Green Olives',
 'Capocollo',
 ' Arugula',
 ' Pineapple',
 ' Spinach',
 ' Chipotle Sauce',
 ' Gorgonzola Piccante Cheese',
 ' Thai Sweet Chilli Sauce',
 ' Mushrooms',
 ' Tomatoes',
 'Brie Carre Cheese',
 ' Luganega Sausage',
 ' Prosciutto',
 ' Fontina Cheese',
 ' Smoked Gouda Cheese',
 ' Kalamata Olives',
 'Pepperoni',
 'Soppressata Salami',
 ' Red Onions',
 'Prosciutto di San Daniele',
 'Barbecued Chicken',
 ' Onions',
 ' Jalapeno Peppers',
 ' Friggitello Peppers',
 ' Capocollo',
 'Bacon',
 ' Gouda Cheese',
 ' Corn',
 ' Pears',
 ' Beef Chuck Roast',
 ' Red Peppers',
 ' Asiago Cheese',
 ' Italian Sausage',
 ' Cilantro',
 ' Sun-dried Tomatoes',
 ' Parmigiano Reggiano Cheese',
 ' Pancetta',
 ' Plum Tomatoes',
 'Chicken']

In [11]:
#legts filter mask based on ingredient you dont want in your pizza
#suppose you dont like onions
filt = df_full['ingredients'].str.contains('onion',case=False)
df_full.loc[filt,'ingredients']

order_id
2        Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
2        Calabrese Salami, Capocollo, Tomatoes, Red Oni...
2        Pepperoni, Mushrooms, Red Onions, Red Peppers,...
3        Calabrese Salami, Capocollo, Tomatoes, Red Oni...
4        Calabrese Salami, Capocollo, Tomatoes, Red Oni...
                               ...
21347    Calabrese Salami, Capocollo, Tomatoes, Red Oni...
21348    Tomatoes, Anchovies, Green Olives, Red Onions,...
21348    Chicken, Red Onions, Red Peppers, Mushrooms, A...
21349    Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
21350    Barbecued Chicken, Red Peppers, Green Peppers,...
Name: ingredients, Length: 21914, dtype: object

In [12]:
#CHeck the mostselled size of pizzas
df_full['size'].value_counts()

L      18526
M      15385
S      14137
XL       544
XXL       28
Name: size, dtype: int64

In [13]:
#Check types of category
df_full['category'].value_counts()

Classic    14579
Supreme    11777
Veggie     11449
Chicken    10815
Name: category, dtype: int64

In [14]:
#groupby category and size
df_full.groupby(['category','size'])['price'].sum()
#This gives some insights like sizes of XL and XXL were ordered only from classic category and veggie L category was most popular pizza

category  size
Chicken   L        99579.25
          M        63834.25
          S        28113.75
Classic   L        73268.50
          M        59619.75
          S        67965.75
          XL       13872.00
          XXL       1006.60
Supreme   L        92462.75
          M        65342.00
          S        46682.00
Veggie    L       101551.60
          M        56613.50
          S        32033.00
Name: price, dtype: float64

In [15]:
#We can check no.of items in menu
df_full['name'].nunique()
#and no.of.times they have been ordered and top 3
df_full['name'].value_counts().head(3)

The Classic Deluxe Pizza      2416
The Barbecue Chicken Pizza    2372
The Hawaiian Pizza            2370
Name: name, dtype: int64

In [16]:
#convert date and time as date time objects
df_full['date_time'] = df_full.apply(lambda x:pd.to_datetime(x['date']+' '+x['time']),axis=1)

In [17]:
#drop date and time columns
df_full.drop(columns={'date','time'},inplace=True)

In [18]:
#we will group using date time and check some analysis
df_full.groupby('date_time')['total_cost'].sum()

date_time
2015-01-01 11:38:36    13.25
2015-01-01 11:57:40    92.00
2015-01-01 12:12:28    37.25
2015-01-01 12:16:31    16.50
2015-01-01 12:21:30    16.50
                       ...
2015-12-31 20:51:07    62.25
2015-12-31 21:14:37    66.50
2015-12-31 21:23:10    46.70
2015-12-31 22:09:54    20.25
2015-12-31 23:02:05    12.75
Name: total_cost, Length: 21350, dtype: float64

In [19]:
#Cant find many insights so lets split date and time again
df_full['date'] = df_full['date_time'].dt.date
df_full['time'] = df_full['date_time'].dt.time
df_full.drop(columns='date_time',inplace=True)

In [20]:
#we will now group both date and time
df_full.groupby(['date','time'])['total_cost'].sum()#It is alternative way to group by and check amount based on order
df_full.groupby('order_id')['total_cost'].mean()

order_id
1        13.250000
2        18.400000
3        18.625000
4        16.500000
5        16.500000
           ...
21346    15.562500
21347    16.625000
21348    15.566667
21349    20.250000
21350    12.750000
Name: total_cost, Length: 21350, dtype: float64

In [21]:
df_full.groupby('date')['total_cost'].sum().sort_values(ascending=False)

date
2015-11-27    4422.45
2015-11-26    4405.95
2015-10-15    4320.20
2015-07-04    3864.20
2015-07-03    3443.00
               ...
2015-12-27    1419.00
2015-11-22    1368.70
2015-12-29    1353.25
2015-12-30    1337.80
2015-03-22    1259.25
Name: total_cost, Length: 358, dtype: float64

In [22]:
#I am curious about weekdays so lets a create a column week
df_full['week'] = df_full['date'].apply(lambda x:x.strftime('%A'))

In [23]:
df_full.groupby('week')['total_cost'].sum().sort_values(ascending=False).loc[['Friday','Sunday']]#we can conclude friday does the most sales where as sunday does the least

week
Friday    136073.9
Sunday     99203.5
Name: total_cost, dtype: float64

In [24]:
#costliest pizza on the store
df_full['price'].max()

35.95

In [25]:
#nlargest,nsmallest
df_pizza_merged.nlargest(10,'price')
df_pizza_merged.nsmallest(10,'price')

,pizza_id,pizza_type_id,size,price,name,category,ingredients
36,pepperoni_s,pepperoni,S,9.75,The Pepperoni Pizza,Classic,"Mozzarella Cheese, Pepperoni"
24,hawaiian_s,hawaiian,S,10.50,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
33,pep_msh_pep_s,pep_msh_pep,S,11.00,"The Pepperoni, Mushroom, and Peppers Pizza",Classic,"Pepperoni, Mushrooms, Green Peppers"
72,four_cheese_s,four_cheese,S,11.75,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
18,big_meat_s,big_meat,S,12.00,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
21,classic_dlx_s,classic_dlx,S,12.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
27,ital_cpcllo_s,ital_cpcllo,S,12.00,The Italian Capocollo Pizza,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,..."
30,napolitana_s,napolitana,S,12.00,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
39,the_greek_s,the_greek,S,12.00,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
75,green_garden_s,green_garden,S,12.00,The Green Garden Pizza,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe..."

In [26]:
df_full['name'].value_counts(normalize=True)

The Classic Deluxe Pizza                      0.049691
The Barbecue Chicken Pizza                    0.048787
The Hawaiian Pizza                            0.048745
The Pepperoni Pizza                           0.048725
The Thai Chicken Pizza                        0.047614
The California Chicken Pizza                  0.047347
The Sicilian Pizza                            0.038811
The Spicy Italian Pizza                       0.038811
The Southwest Chicken Pizza                   0.038770
The Four Cheese Pizza                         0.038050
The Italian Supreme Pizza                     0.038030
The Big Meat Pizza                            0.037248
The Vegetables + Vegetables Pizza             0.031057
The Mexicana Pizza                            0.029947
The Napolitana Pizza                          0.029844
The Spinach and Feta Pizza                    0.029453
The Prosciutto and Arugula Pizza              0.029371
The Pepper Salami Pizza                       0.029247
The Italian Capocollo Pizza                   0.029083
The Greek Pizza                               0.028918
The Five Cheese Pizza                         0.027951
The Pepperoni, Mushroom, and Peppers Pizza    0.027602
The Green Garden Pizza                        0.020300
The Chicken Alfredo Pizza                     0.020156
The Italian Vegetables Pizza                  0.020053
The Chicken Pesto Pizza                       0.019766
The Soppressata Pizza                         0.019683
The Spinach Pesto Pizza                       0.019683
The Spinach Supreme Pizza                     0.019334
The Calabrese Pizza                           0.019066
The Mediterranean Pizza                       0.018984
The Brie Carre Pizza                          0.009872
Name: name, dtype: float64